body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.clock {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  border-radius: 50%;
  position: relative;
}

.hour,
.minute,
.second {
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #333;
  top: 50%;
  transform-origin: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.second {
  background-color: red;
  height: 1px;
}
